*~
*.o
*.pyc
*.pyo
__pycache__
*.log
*.tar.gz
*.a
*.OUT
*.so
.ipynb_checkpoints
.idea
*.egg-info
*.msh
venv
abem/build
fgsl_build
fgsl
gsl_build
gsl
Fortran/AEBEM2/AEBEM2
Fortran/AEBEM3/AEBEM3
Fortran/AEBEMA/AEBEMA
Fortran/AIBEM2/AIBEM2
Fortran/AIBEM3/AIBEM3
Fortran/AIBEMA/AIBEMA
Fortran/BERIM3/BERIM3T
Fortran/BERIM3/BERIMAT

